body {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.main-container {
	margin-top: 85px;
}

#signIn {
	margin-top: 30px;
}

#notes {
	rows: 4;
}

.navbar-custom {
	background-color: #69A88D ;
}

#welcome {
	font-style: italic;
}

.food-log {
	margin-top: 20px;
}

#date-dashboard {
	font-size: 20px;
	margin-bottom: 15px;
}

#date{
	font-weight: 600;
	text-decoration: underline;
}

.total {
	font-size: 1.5em;
}

.add-food {
	margin-top: 20px;
}

.notes {
	margin-top: 10px;
}

.log-food-btn {
	margin-top: 15px;
}

.serving-size{
	margin-top: 10px;
}

#foodInputButton {
	background-color: #69A88D ;
	border: 1px solid #69A88D;
}

.weekly-view {
	margin-top: 50px;
}

.btn-custom {
	background-color: #69A88D;
	border: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary, .btn-primary:active:focus {
	background-color: #004e00 !important;
	box-shadow: 0 0 0 0.2rem rgba(0, 78, 0, 0.25) !important;
	border: 0 !important;
}

.form-control:focus {
        border-color: #004e00;
        box-shadow: 0 0 0 0.2rem rgba(0, 78, 0, 0.25);
    }


/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;

}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
/*  width: 400px;*/
  height: 50px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -200px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#myPopup {
	font-size: 12px;
	padding: 10px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}