body {
	background-color: #69A88D;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.logo {
	width: 40%;
	min-width: 300px;
}

.logo-container{
	display: flex;
	justify-content: center;
}

.form-container {
	width:30%;
	margin: 0 auto;
	min-width: 300px;
	margin-top: 20px;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #004e00;
}

.btn-custom {
	background-color: #69A88D;
	border: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary, .btn-primary:active:focus {
	background-color: #004e00 !important;
	box-shadow: 0 0 0 0.2rem rgba(0, 78, 0, 0.25) !important;
	border: 0 !important;
}

.form-control:focus {
        border-color: #004e00;
        box-shadow: 0 0 0 0.2rem rgba(0, 78, 0, 0.25);
    }

h4 {
	font-size: 20px;
}